<!DOCTYPE html>
<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>

	<body ng-controller="StoreController as store">
		<!--  Products Container  -->
		<div class="list-group">

		<!--  Product Container  -->
			<div class="list-group-item"
				ng-repeat="product in store.products">

				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency }}</em>
				</h3>

				<!-- Image Gallery  -->
				<div class="gallery" ng-show="product.images.length>0">
        			<div class="img-wrap">
          				<img ng-src="{{product.images[0]}}" />
        			</div>

        			<ul class="img-thumbnails clearfix">
         				<li class="small-image pull-left thumbnail"
         				ng-repeat="image in product.images">
            				<img ng-src="{{image}}" />
          				</li>
        			</ul>
      			</div> <!-- END : Image Gallery -->

      			<button ng-show="product.canPurchase">Add to Cart</button>

			</div> <!-- END : Product Container - List group item -->

		</div> <!-- END : Product Container - List group -->

	</body>

</html>