<!doctype html>
<html ng-app="gemStore">

<head>
	<meta charset="utf-8">
	<title>Flatlander's Store</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="styles/main.css">
	
	<!-- Angular and bootstrap scripts -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

	<!-- Flatlander's Store scripts -->
	<script src="scripts/app.js"></script>

	<!-- END : scripts -->
</head>

<body ng-controller="StoreController as store">
	<!--[if lte IE 8]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please 
	<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!--  Products Container  -->
	<div class="list-group">
		
		<!--  Product Container  -->
		<div class="list-group-item" ng-repeat="product in store.products">
			<h3>
				{{product.name}}
				<em class="pull-right">{{product.price | currency}}</em>
			</h3>
			
			<!-- Image Gallery  -->
			<div ng-controller="GalleryController as gallery" 
				class='gallery' 
				ng-show="product.images.length">
		        <img ng-src="{{product.images[gallery.current]}}" />
		        <ul class="list-inline thumbs">
			        <li class="thumbnail" ng-repeat="image in product.images">
			            <img ng-src="{{image}}" />
			        </li>
		        </ul>
		    </div>
			
			<section class="tab" ng-controller="TabController as tab">
		        <ul class="nav nav-pills">
		          <li ng-class="{ active:tab.isSet(1) }">
		            <a href ng-click="tab.setTab(1)">Description</a></li>
		          <li ng-class="{ active:tab.isSet(2) }">
		            <a href ng-click="tab.setTab(2)">Specs</a></li>
		          <li ng-class="{ active:tab.isSet(3) }">
		            <a href ng-click="tab.setTab(3)">Reviews</a></li>
		        </ul>
		        <div ng-show="tab.isSet(1)">
		          <h4>Description</h4>
		          <blockquote>{{product.description}}</blockquote>
		        </div>
		        <div ng-show="tab.isSet(2)">
		          <h4>Specs</h4>
		          <blockquote>Shine: {{product.shine}}</blockquote>
		        </div>
		        <div ng-show="tab.isSet(3)">
		          <h4>Reviews</h4>
		          <blockquote></blockquote>
		        </div>
		    </section>
		</div>
	</div>
		
</body>

</html>